body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #BFCDE0;
}

.footer-bar{
    background-color: #5D5D81;
}

.navbar{
    background-color: #3B3355;
}

.btn{
    background-color: #BFCDE0;
}